/* 流光边框 */
.flink-list>a:hover{
  border: 1px solid transparent;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  animation: neon 4s linear infinite;
}
@keyframes neon{
  0%{background-position:0%}
  100%{background-position:400%}
}